{{> message}}
<h1 class="mb-0">餐廳後台</h1>
<div class="mb-3">
  <a href="/admin/restaurants">Restaurants</a> | <span class="font-weight-bold">Users</span> | <a href="/admin/categories">Categories</a>
</div>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      {{#if this.isAdmin}}
      <td>admin</td>
      {{else}}
      <td>user</td>
      {{/if}}
      <td>
        <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST" style="display: inline;">
          {{#if this.isAdmin}}
          <button type="submit" class="btn btn-link">set as user</button>
          {{else}}
          <button type="submit" class="btn btn-link">set as admin</button>
          {{/if}}
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>